
 <img id=pic src={{book.image}}>
 <br>
 <div id=info>Author : {{book.author}}</div>
 <br>
 <br>

 <h2 id=listing1> Reviews </h2>

<ul>
  {{#each sortedReviews as |review|}}
    {{review-tile review=review}}
  {{/each}}
</ul>
